.deck-container {
  .x-inner {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    //-webkit-box-align: stretch;
  }
}

.deck-cmp {
  //-webkit-box-flex: 1;
  height: 45%;
  //width: 100%;
  .x-innerhtml {
    height: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    .deck-header {
      color: $base-color;
      height: 50px;
      display: -webkit-box;
      margin-left: 10px;
      margin-right: 10px;
      .cover-art {
        height: 50px;
        width: 50px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 10px;
      }
      .title {
        font-size: 1.2em;
      }
      .pitch-display {
        color: $base-color;
        display: inline;
        vertical-align: -22px;
        width: 50px;
      }

    }
    .deck {
      -webkit-box-flex: 1;
      display: -webkit-box;
      .transport {
        width: 100px;
        margin-top: 10px;
        text-align: center;
        .btn {
          margin: 10px;
          &.active {

          }
        }
        .play-arrow {
          margin-left: auto;
          margin-right: auto;
          width: 0px;
          height: 0px;
          border-style: solid;
          border-width: 12.5px 0 12.5px 21.7px;
          border-color: transparent transparent transparent #ecf0f1;
          -webkit-transform: rotate(360deg)
        }
      }
      .waveform {
        -webkit-box-flex: 1;
        height: 220px;
      }
      .pitch-control {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-box-align: stretch;
        width: 50px;
        margin: 10px;
        .pitch {
          height: 200px;
          width: 50px;
          background: $base;
          position: relative;
          overflow: hidden;
          .pitch-bar {
            height: 20px;
            width: 50px;
            background-color: #2980b9;
            border: 1px solid #3498db;
            top: 0;
          }

        }
      }

    }
    .deck-controls {
      display: -webkit-box;
      -webkit-box-align: stretch;
      margin-bottom: 10px;
      .btn {
        width: 50px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
      }
    }
  }
}